@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    background-color: 	#f8b4aa;
    font-family: "Bungee", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

body h2 {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.open-btn {
    background-color: #f08080;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 26px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.open-btn:hover {
    transform: scale(1.1);
}

.open-btn img {
    width: 40px;
    height: auto;
}

.overlay {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    animation: popup .25s ease;
}

.modal h2 {
    color: #f08080;
    padding-bottom: 10px;
}

.modal img {
    .modal img {
    width: 250px;
    height: auto;
    border-radius: 12px;
}
}

@keyframes popup {
    from{
        transform: scale(0.8);
        opacity: 1;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.close-btn {
    background-color: #f08080;
    color: white;
    font-family: "Bungee", sans-serif;
    margin-top: 15px;
    padding: 10px 18px;
    border: none;
    border-radius: 25px;
    padding: 10px 26px;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.close-btn:hover {
    background: transparent;
    border-color: #f08080;
    color: #f08080;
}